.nav-container {

    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    pointer-events: none;
}

.navbar a {
    padding: 0 4%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    pointer-events: auto;
    z-index: 2;
}

