@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Fuzzy+Bubbles:wght@700&display=swap');


body {
    margin: auto;
    font-family: 'Encode Sans', sans-serif;
    background-color: rgb(1, 1, 20);
}
