@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Fuzzy+Bubbles:wght@700&display=swap");

body {
  margin: auto;
  margin-top: -30px;
  /* font-family: "Encode Sans", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(1, 1, 20);
}

.pageHeader {
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.projectsHeader {
  margin-top: 100px;
}

html {
  scroll-behavior: smooth;
}
